name: Node CI
on:
  push:
    branches:
      - main
    tags:
      - v*
  pull_request:
jobs:
  build:
    strategy:
      matrix:
        node-version: ['24.x', '25.x']
      fail-fast: false
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node-version }}
      - name: Yarn Install
        run: corepack enable && corepack prepare yarn@stable --activate && yarn install --immutable
      - name: Build
        run: yarn build
      - uses: actions/upload-artifact@v6
        if: ${{ github.event_name == 'push' && matrix.node-version == '24.x' }}
        with:
          name: deployment
          path: dist/*
  test:
    runs-on: ubuntu-24.04
    if: ${{ github.event_name == 'pull_request' }}
    strategy:
      matrix:
        node-version: [24.x, 25.x]
      fail-fast: false
    steps:
    - uses: actions/checkout@v6
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v6
      with:
        node-version: ${{ matrix.node-version }}
    - name: Yarn Install
      run: corepack enable && corepack prepare yarn@stable --activate && yarn install --immutable
    - name: Lint
      run: yarn lint
    - name: Unit Test
      run: yarn coverage
    - name: E2E Test
      run: yarn test:e2e
    - uses: actions/upload-artifact@v6
      if: ${{ matrix.node-version == '24.x' }}
      with:
        name: test-videos
        path: test/e2e/videos/*
    - uses: codecov/codecov-action@v5
      if: ${{ matrix.node-version == '24.x' }}
  publish:
    runs-on: ubuntu-24.04
    needs: build
    if: ${{ github.event_name == 'push' }}
    steps:
    - uses: actions/download-artifact@v6
      with:
        name: deployment
        path: ./dist
    - name: Deploy
      uses: peaceiris/actions-gh-pages@v4
      with:
        force_orphan: true
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: ./dist
